

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans+KR&display=swap');



body {
	font-family: 'Nanum Gothic Coding', monospace;
	font-family: 'Noto Sans KR', sans-serif;
	background-color: ivory;
}

input[type="text"] {
	width: 180px;
	height: 24px;
	margin: ;
	font-size: 18px;
}


input[type="number"] {
	width: 3em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  width: 130px;
  height: 40px;
  margin: 20px;
  padding: 10px 25px;
  outline: none;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block; 	
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
	margin: 5px;
	padding: 3px 6px;

}

h3 {
	display: inline-block;
}


